<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="MyWebApp" version="2.5">
	<display-name>mooc-ssm</display-name>

	<!-- 加载spring自身的配置文件 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring/applicationContext*.xml,classpath:spring/mooc-ssm-servlet.xml</param-value>
	</context-param>

	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!--Spring的ApplicationContext 载入：Spring的监听器 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>


	<!-- 登陆过滤器 -->
	<filter>
		<filter-name>sessionFilter</filter-name>
		<filter-class>com.mooc.filter.SessionFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>sessionFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	

	<!-- 加载SpringMVC的配置文件 -->
	<servlet>
		<servlet-name>mooc-ssm</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:spring/mooc-ssm-servlet.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>

	</servlet>

	<servlet-mapping>
		<servlet-name>mooc-ssm</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<!-- 错误页面 -->
	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/html/404.html</location>
	</error-page>

	<!--Session 有效期  -->
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
</web-app>  
